$phone: 360px;
$tablet: 700px;
$desktop: 1024px;

$primary: #ffa000;
$primary-light: #ffd149;
$primary-dark: #c67100;

$secondary: #90caf9;
$secondary-light: #c3fdff;
$secondary-dark: #5d99c6;

$surface: #ffffff;
$text: #000000;

$font1: 'Lato', sans-serif;
$font2: 'Raleway', sans-serif;

$radius1: 1.2rem;
